*~
\#*\#
*.elc
.org-id-locations
bookmarks
config.el
history
auto-save-list/
elpa/
eshell/
meghanada/
parinfer-rust/
racket-mode/
straight/
transient/
url/
custom.el
projectile-bookmarks.eld
projectile.cache
projects
tramp
