[submodule "private"]
	path = private
	url = https://github.com/kenranunderscore/private-config
[submodule "config/doom-emacs"]
	path = modules/programs/doom-emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
	branch = develop
