# Ignore everything:

*

# Exceptions:

!.config/kitty/kitty.conf
!.config/alacritty/alacritty.yml
!.config/fish/config.fish
!.config/fish/nix.fish
!.doom.d/*.el
!.emacs.d
!.spacemacs
!.tmux.conf
!.vimrc
!.Xresources
!.zshrc
!README.md
