[submodule "config-files/doom-emacs"]
	path = config-files/doom-emacs
	url = https://github.com/hlissner/doom-emacs
	branch = develop
[submodule "private"]
	path = private
	url = https://github.com/kenranunderscore/private-config
