*~
\#*\#
*.elc
.cache/
.lsp-session*
.org-id-locations
bookmarks
config.el
history
ielm-history.eld
auto-save-list/
elpa/
eshell/
meghanada/
multisession/
network-security.data
parinfer-rust/
racket-mode/
straight/
transient/
url/
custom.el
projectile-bookmarks.eld
projectile.cache
projects
tramp
