@define-color fg #0ac30a;
@define-color bg #040404;
@define-color light-bg #212121;

* {
    font-size: 14pt;
    font-family: "Iosevka", monospace;
}

#waybar {
    background: @bg;
}

window#waybar {
    color: @fg;
}

#custom-rarrow,
#custom-larrow {
    font-size: 16pt;
    color: @light-bg;
}

#custom-larrow-2 {
    font-size: 16pt;
    background: @light-bg;
    color: @bg;
}

#workspaces,
#mode {
    background: @light-bg;
}

#mode {
    padding: 0 10px;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock {
    padding: 0 10px;
    background: @light-bg;
}

#workspaces button {
    padding: 0 4px;
    border-width: 1px;
    border-radius: 0;
    color: #909590;
}

#workspaces button.focused {
    background: #041a04;
    border-color: @fg;
    color: @fg;
}

#workspaces button.urgent {
    background: @bg;
    border-color: #ff4500;
    color: #ff4500;
}

#workspaces button:hover {
    background: @fg;
    border-color: @bg;
    color: @bg;
    box-shadow: none;
    text-shadow: none;
}
